
  <div>
    <form>
        <div class="grup container" style="background-color:  #cacaca;">
  
  <div class="row" style="margin-right: 173px;">
    <div class="col-3">
      <select style="background-color:black; color: cornsilk;height: 27px;width: 70px;    margin-top: 10px;" ng-model="test1" ng-disabled="!enabled">
        <option value="">USD/COP</option>
        <option value="">USD/CLP</option>
      </select>
    </div>
    <div class="col-3">
      <select style="height: 27px;width: 70px;    margin-top: 10px;" ng-model="test1" ng-disabled="!enabled">
        <option value="">LMT</option>
    </select>
    </div>
    <div class="col-3 centrado " style="    margin-top: 10px;">
      <span style="    margin-top: 10px;">3254.10</span>
    </div>
    <div class="col-3 centrado" style="    margin-top: 10px;">
      <span style="    margin-top: 10px;">3254.10</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="text-align: right; ">
       <span >18 DEC</span>
    </div>
  </div>
  <!-- row -->
  <div class="row">
      <div class="col-3">
        <select style="height: 22px;width: 70px;" ng-model="test1" ng-disabled="!enabled">
          <option value="">Buy</option>
          <option value="">Buy</option>
      </select>
      </div> 
      <div class="col-3">
        <input style="background-color: #ffff0085;
        height: 24px;
        border: solid 1px;" type="text" name="" id="">
      </div> 
      <div class="col-3">
        <button style="height: 24px;width: 70px;" type="button" class="btn btn-secondary">USD</button>
      </div>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-3">
    <span style="font-weight: bold;" >Precio Limite:</span>
  </div> 
  <div class="col-3">
    <input style="
    height: 24px;
    border: solid 1px;" type="text" name="" id="">
  </div> 
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-3">
    <span style="font-weight: bold;" >Precio Stop:</span>
  </div> 
  <div class="col-3">
    <input style="
    height: 24px;
    border: solid 1px;" type="text" name="" id="">
  </div> 
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-3">
    <span style="font-weight: bold;" >Start Time:</span>
  </div> 
  <div class="col-3">
    <select style="height: 27px;width: 70px; " ng-model="test1" ng-disabled="!enabled">
      <option value="">Start Now</option>
  </select>
  </div> 
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-3">
    <span style="font-weight: bold;" >Tiempo Activo:</span>
  </div> 
  <div class="col-3">
    <select style="height: 27px;width: 70px;" ng-model="test1" ng-disabled="!enabled">
      <option value="">GTC</option>
  </select>
  </div> 
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-12">
    <span>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label style="font-weight: bold;"  class="form-check-label" for="defaultCheck1">
         Note
        </label>
      </div>
    </span>
  </div> 
</div>


<div class="row" style="margin-top: 15px;">
  <div class="col-6">
    <span style="font-weight: bold;" >
     texto descripciones
     texto descripciones
     texto descripciones
   
    </span>
  </div> 
</div>

<div class="row" style="margin-top: 28px; ">
  <div class="col-6">
    <span>
      <button type="button" class="btn btn-secondary" style="margin-bottom: 3px;">Presentar Orden</button>
    </span>
  </div> 
</div>




</div>
  </form>
</div>