<div style="border:#54565a 1px solid;;">
<form>
    <div class="row">
      <div class="col-6" style="padding-left: 42px;margin-left: -29px;">
      <div id="menu"></div>

        <div class="grup container sinpadding " style="background-color: #cacaca;">
          <!-- row -->
          <div class="row">
            <div class="col-4">
              <select style="background-color:black; color: cornsilk;height: 27px;width: 88px;" ng-model="test1" ng-disabled="!enabled">
                <option value="">USD/COP</option>
                <option value="">USD/CLP</option>
              </select>
            </div>
            <div class="col-4">
              <select style="height: 27px;width: 70px;  " ng-model="test1" ng-disabled="!enabled">
                <option value="">10,5M</option>
                <option value="">23,5K</option>
            </select>
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-secondary">USD</button>
              <span class="badge badge-danger">X</span>
            </div>
          </div>
          <!-- row -->
          <div class="row" style="text-align: right;margin-top: -19px;    font-weight: bold;
          font-size: 15px;" >
            <div class="col-4">
              <span>3413.</span>
            </div>
            <div class="col-4" style="text-align: center;">
              <span class="badge badge-dark" style="color:white;">250</span>
            </div>
            <div class="col-4" style="text-align:left;font-weight: bold; font-size: 15px;">
              <span> 3413.</span>
            </div>
          </div>
          <!-- row -->
          <div class="row" style="margin-top: -19px;">
            <div class="col-6" >
                <span >
                  <h3 class="opacidad" id="tarjeta1" style="font-size: 28px;;  font-weight: bold; color:rgb(0,191, 255); background-color:rgb(32,54,64);border:rgb(32,54,64) 1px solid; height: 49px;width: 133px ; text-align: center; vertical-align: middle; padding-top: 10px;">{{ tarjeta }}</h3>
                </span>
            </div>    
            <div class="col-6"  >
              <span >
                <h3 class="opacidad" style="font-size: 28px;font-weight: bold; color:red;background-color:  rgb(64,0,0); ;border: rgb(64,0,0) 1px solid; height: 49px;width: 133px ; text-align: center; vertical-align: middle; padding-top: 10px;">{{ tarjeta2 }}</h3>
            </span>
            </div>    
          </div>
        </div>
      </div>
      <div class="col-6" style="padding-left: 42px;
      margin-left: -52px;">
        <div class="grup container sinpadding " style="background-color: #cacaca;">
          <!-- row -->
          <div class="row marginone" >
            <div class="col-4">
              <select style="background-color:black; color: cornsilk;height: 27px;width: 88px;" ng-model="test1" ng-disabled="!enabled">
                <option value="">USD/COP</option>
                <option value="">USD/CLP</option>
              </select>
            </div>
            <div class="col-4">
              <select style="height: 27px;width: 70px;" ng-model="test1" ng-disabled="!enabled">
                <option value="">10,5M</option>
                <option value="">23,5K</option>
            </select>
            </div>
            <div class="col-xs-4" >
              <button type="button" class="btn btn-secondary">USD</button>
              <span class="badge badge-danger">X</span>
            </div>
          </div>
          <!-- row -->
          <div class="row marginone" style="text-align: right;margin-top: -19px;    font-weight: bold;
          font-size: 15px;" >
            <div class="col-4">
              <span>3413.</span>
            </div>
            <div class="col-4" style="text-align: center;">
              <span class="badge badge-dark" style="color:white;">250</span>
            </div>
            <div class="col-4" style="text-align:left;font-weight: bold; font-size: 15px;">
              <span style=""> 3413.</span>
            </div>
          </div>
          <!-- row -->
          <!-- <div class="row" style="margin-top: -19px;">
            <div class="col-6" style="margin-right: -208px;">
                <span >
                    <h3 class="opacidad" id="tarjeta1" style="font-size: 28px;;  font-weight: bold; color:white; background-color:rgb(0, 168, 240); ;border:rgb(0, 168, 240) 1px solid; height: 49px;width: 133px ; text-align: center; vertical-align: middle; padding-top: 10px;">{{ tarjeta }}</h3>
                </span>
            </div>    
            <div class="col-6"  >
              <span >
                <h3 class="opacidad" style="font-size: 28px;font-weight: bold; color:white;background-color:  rgb(255, 0, 8) ;border: rgb(255, 0, 8) 1px solid; height: 49px;width: 133px ; text-align: center; vertical-align: middle; padding-top: 10px;">{{ tarjeta2 }}</h3>
            </span>
            </div>    
          </div> -->


          <div class="row" style="margin-top: -19px;">
            <div class="col-6" >
                <span >
                    <h3 class="opacidad" id="tarjeta1" style="font-size: 28px;;  font-weight: bold; color:rgb(0,191, 255); background-color:rgb(32,54,64);border:rgb(32,54,64) 1px solid; height: 49px;width: 133px ; text-align: center; vertical-align: middle; padding-top: 10px;">{{ tarjeta }}</h3>
                </span>
            </div>    
            <div class="col-6"  >
              <span >
                <h3 class="opacidad" style="font-size: 28px;font-weight: bold; color:red;background-color:  rgb(64,0,0); ;border: rgb(64,0,0) 1px solid; height: 49px;width: 133px ; text-align: center; vertical-align: middle; padding-top: 10px;">{{ tarjeta2 }}</h3>
            </span>
            </div>    
          </div>

        </div>
      </div>
    </div>



   

    
    <style type="text/css">
    
    .sinpadding [class*="col-"] {
      padding: 10px;
    }
    
    .centrado {
      text-align-last: center;
    }

    .opacidad {
      /* opacity: .50; */
      /* background-color: rgb(0, 0, 0); */
      /* position: absolute; */
      /* top: 10px; */
      /* color: #fff; */
      /* text-align: center; */
      /* padding-top: 1em; */
    }
    
    </style>
  </form>

</div>

  