<div class="container-fluid" id="bandera">
    <div class="row">
        <div class="col-6" style="margin-top: 15px;">
          <div id="" style="background-color:#343a40;
          width: 609px;
          height: 21px;
          margin-right: 28px;
          color: white;
          padding-left: 9px;
          ">  FX Board  </div>
          <app-precio></app-precio>
          <app-precio></app-precio>
          <app-precio></app-precio>
       </div>

        <div class="col-6" style="margin-top: 15px; padding-left: 224px;">
          <div id="" style="background-color:#343a40;
          width: auto;
          height: 23px;
          color: white;
          padding-left: 9px;
        ;">
             Ordenes Avanzadas
        </div>
          <div id="idprincipal"></div>
          <app-boleta-orden></app-boleta-orden>
        </div>
     
      <div class="col-12" style="margin-top: 10px;">
        <div id="titulo" style="height: 26px;
        background-color: #3b4147;
        color: white;
        padding-left: 9px;
        ">
        Ordenes  
      </div>
        <app-ordenes></app-ordenes>
      </div>
    </div> 
  </div>  
  
  <!-- <div>
    <app-precio></app-precio>
 style="margin-left: -149px;
    margin-right: -160px;" 
  </div> -->




  <!-- <div class="container-fluid" id="bandera">
    <div class="row">
        <div class="col-6" style="margin-top: 15px;">
          <div id="" style="background-color:#343a40;
          width: auto;
          height: 21px;
          margin-right: 28px;
          color: white;
          padding-left: 9px;
          ">  FX Board  </div>
          <app-precio></app-precio>
          <app-precio></app-precio>
          <app-precio></app-precio>
       </div>

        <div class="col-6" style="margin-top: 15px;">
          <div id="" style="background-color:#343a40;
          width: auto;
          height: 23px;
          color: white;
          padding-left: 9px;
        ;">
             Ordenes Avanzadas
        </div>
          <div id="idprincipal"></div>

          <app-boleta-orden></app-boleta-orden>
            
          <app-boleta-orden></app-boleta-orden>
        </div>
     
      <div class="col-12" style="margin-top: 10px;">
        <div id="titulo" style="height: 19px;
        background-color: #3b4147;
        color: white;
        
        ">
        Ordenes  
      </div>
        <app-ordenes></app-ordenes>
      </div>
    </div> 
  </div>  -->

<!-- <h1>mensa</h1>
  <app-ordenes></app-ordenes>


  <app-boleta-orden></app-boleta-orden> -->